h3{
    color: rgba(4, 1, 1, 0.658);
    text-shadow: 10px 10px 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.nav{
    color: rgba(4, 1, 1, 0.658);
}


body{
    background-color: rgba(101, 89, 89, 0.658);
}
.img-fluid{
    position: relative;
    left: 500px;
    top: 0px;
}